@model IEnumerable<RouteViewModel>

@{
    ViewBag.Title = "Routes List";
}

<div><b>Bus Routes</b><br /></div>
<table class="table table-hover">
    <tr>
        <th>Order </th>
    </tr>
    @foreach (RouteViewModel d in Model)
    {
        <tr>
            <td>@d.Order</td>
            <td><button>Delete</button><button><a class="nav-link text-dark" asp-area="" asp-controller="Stops"
                    asp-action="StopsMap">Stops Map</a></button></td>
            <td></td>
        </tr>
    }
</table>