/* Styles for the form */
form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type="number"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }

  input[type="number"]:hover{
    background-color: #dfd4d4;
  }
  
  input[type="submit"] {
    background-color: #db2f2f;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  input[type="submit"]:hover {
    background-color: #1d0404;
  }
  
  /* Styles for the heading and total passengers section */
  h1 {
    text-align: center;
    margin-top: 50px;
  }
  
  div {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    font-size: 20px;
  }
  